.wrapper {
    @apply p-4 flex items-start justify-start rounded-2xl bg-dark-raisin-black;
}

.picture {
    @apply rounded-lg;
}

.info {
    @apply flex flex-col ml-2 justify-start;
}

.title {
    @apply text-white text-semiBold font-bold;
}

.type {
    @apply mt-1 flex items-start justify-start text-smallSemiBold text-rhythm font-semibold;
}

.date {
    @apply mt-3 text-smallSemiBold text-rhythm font-semibold;
}

.pictureWrapper {
    @apply relative;
    max-height: 67px;
}

.typeIcon {
    @apply absolute;
    top: -4px;
    left: -4px;
}
